html{
height:100%;
width:100%;
}
body {
padding-top: 86px;
font-family: Helvetica;
color: white;
height:100%;
width:100%;
	
}
#lifesavercardbody{
  color:white;
  text-align: center;
}
#messageModal{
  color:black;
  width: 400px;
  margin: 0 auto;
  font-family: Helvetica;

}
#dissmissButtonLocation{
}

@media (min-width: 992px) {
  body {
    padding-top: 86px;
  }
}
.btn-group-vertical{
 overflow:auto; 
 height:200px; 
 display: inline-block;
}
.card{
  background-color: transparent;
  border:none;
  color:white;
}
.card-title,.card-text{
  color:white;
}

#listbuttons{
	background-color: transparent;
	color:white;
	border: none;
}
#listbuttons:hover{
	background-color:red;
}
.card-footer{
  border:none;
  color:white;
}
#marker{
    height: 20%;
    width: 20%;
    padding: 2px;
}
#findCard{
  height: 500px;
}
#lifesaver{
  height: 100%;
  width: 100%;
}
#map {
        width: auto;
        height: 300px;
    }
.navbar {
  background: red;
}
.card-body{
color: black;
}
    
